<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6773a3">  <td>21/06/16 18:48:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfiniteTimeServiceApplicationTests.serviceRequest()[pri:0, instance:com.infinite.uptime.services.InfiniteTimeServiceApplicationTests@47e2e487]">serviceRequest</td> 
  <td>main@1617838096</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>21/06/16 18:48:44</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InfiniteTimeServiceApplicationTests.listAvaibleServices()[pri:0, instance:com.infinite.uptime.services.InfiniteTimeServiceApplicationTests@47e2e487]">listAvaibleServices</td> 
  <td>main@1617838096</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>21/06/16 18:48:43</td>   <td>-760</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InfiniteTimeServiceApplicationTests.setUp()[pri:0, instance:com.infinite.uptime.services.InfiniteTimeServiceApplicationTests@47e2e487]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1617838096</td>   <td></td> </tr>
</table>
